:root {
  /* colors */
  --bg-black: #000000;
  --font-white: #FFFFFF;

  --btn: #006345;
  --btn-hover: #00442f;
  --btn-active: #00291c;

  /* breakpoint */
  --mobile-breakpoint: 576px;
  --tablet-breakpoint: 768px;

}

h3 {
  font-size: 22px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-black);
  color: var(--font-white);
}

a {
  color: var(--font-white);
  text-decoration: none;

  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Removes the default list bullet */
}

li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px 60px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width: 768px) {
  .container {
    padding: 10px 10px 10px 10px;
  }
}